<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID">
	<display-name>mini-project</display-name>
	<servlet>
		<description>
		</description>
		<display-name>Userlogin</display-name>
		<servlet-name>Userlogin</servlet-name>
		<servlet-class>controller.Userlogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>faculty</display-name>
		<servlet-name>faculty</servlet-name>
		<servlet-class>controller.faculty</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>faculty_manager</display-name>
		<servlet-name>faculty_manager</servlet-name>
		<servlet-class>controller.faculty_manager</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Assignment</display-name>
		<servlet-name>Assignment</servlet-name>
		<servlet-class>controller.Assignment</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>image</display-name>
		<servlet-name>image</servlet-name>
		<servlet-class>controller.image</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>update</display-name>
		<servlet-name>update</servlet-name>
		<servlet-class>controller.update</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Adminlogin</display-name>
		<servlet-name>Adminlogin</servlet-name>
		<servlet-class>controller.Adminlogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Facultylogin</display-name>
		<servlet-name>Facultylogin</servlet-name>
		<servlet-class>controller.Facultylogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>panel</display-name>
		<servlet-name>panel</servlet-name>
		<servlet-class>controller.panel</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>panel_team</display-name>
		<servlet-name>panel_team</servlet-name>
		<servlet-class>controller.panel_team</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Userlogin</servlet-name>
		<url-pattern>/Userlogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>faculty</servlet-name>
		<url-pattern>/faculty</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>faculty_manager</servlet-name>
		<url-pattern>/faculty_manager</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Assignment</servlet-name>
		<url-pattern>/Assignment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>image</servlet-name>
		<url-pattern>/image</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>update</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Adminlogin</servlet-name>
		<url-pattern>/Adminlogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Facultylogin</servlet-name>
		<url-pattern>/Facultylogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>panel</servlet-name>
		<url-pattern>/panel</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>panel_team</servlet-name>
		<url-pattern>/panel_team</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
